# LeetCode: Introduction to Pandas

# 2877. Create a DataFrame from List

In [ ]:
# accepted
import pandas as pd

def createDataframe(student_data: List[List[int]]) -> pd.DataFrame:
    df = pd.DataFrame(student_data, columns=['student_id','age'])
    return df

# 2878. Get the Size of a DataFrame

In [5]:
#accepted
import pandas as pd

def getDataframeSize(players: pd.DataFrame) -> List[int]:
    return list(players.shape)

(4, 2)

# 2879. Display the First Three Rows

In [ ]:
# accepted
import pandas as pd

def selectFirstRows(employees: pd.DataFrame) -> pd.DataFrame:
    return employees.head(3)

# 2880. Select Data

In [ ]:
# accepted
import pandas as pd

def selectFirstRows(employees: pd.DataFrame) -> pd.DataFrame:
    return employees.head(3)

# 2881. Create a New Column

In [ ]:
# accepted
import pandas as pd

def createBonusColumn(employees: pd.DataFrame) -> pd.DataFrame:
    employees['bonus'] = employees['salary']*2
    return employees

# 2882. Drop Duplicate Rows

In [ ]:
# accepted
import pandas as pd

def dropDuplicateEmails(customers: pd.DataFrame) -> pd.DataFrame:
    filt = customers['email'].duplicated()
    customers = customers.loc[~filt]
    return customers

# 2883. Drop Missing Data

In [6]:
# accepted 
import pandas as pd

def dropMissingData(students: pd.DataFrame) -> pd.DataFrame:
    students.dropna(axis='index', how = 'any', subset=['name'], inplace=True)
    return students

# 2884. Modify Columns

In [ ]:
# accepted
import pandas as pd

def modifySalaryColumn(employees: pd.DataFrame) -> pd.DataFrame:
    employees['salary'] = employees['salary']*2
    return employees

# 2885. Rename Columns

In [ ]:
# accepted
import pandas as pd

def renameColumns(students: pd.DataFrame) -> pd.DataFrame:
    students.columns=['student_id','first_name','last_name','age_in_years']
    return students

# 2886. Change Data Type

In [ ]:
# accepted
import pandas as pd

def changeDatatype(students: pd.DataFrame) -> pd.DataFrame:
    students['grade']=students['grade'].astype(int)
    return students

# 2887. Fill Missing Data

In [7]:
# accepted
import pandas as pd

def fillMissingValues(products: pd.DataFrame) -> pd.DataFrame:
    products['quantity'].fillna(0,inplace=True)
    return products

# 2888. Reshape Data: Concatenate

In [8]:
# accepted
import pandas as pd

def concatenateTables(df1: pd.DataFrame, df2: pd.DataFrame) -> pd.DataFrame:
    df3 = pd.concat([df1,df2], axis=0)
    return df3

# 2889. Reshape Data: Pivot

In [ ]:
# accepted
import pandas as pd

def pivotTable(weather: pd.DataFrame) -> pd.DataFrame:
    return weather.pivot_table(index='month', columns='city', values='temperature', aggfunc='max')

# 2890. Reshape Data: Melt

In [ ]:
# accepted
import pandas as pd

def meltTable(report: pd.DataFrame) -> pd.DataFrame:
    return report.melt(id_vars=['product'],var_name='quarter',value_name='sales')

# 2891. Method Chaining

In [ ]:
# accepted
import pandas as pd

def findHeavyAnimals(animals: pd.DataFrame) -> pd.DataFrame:
    filt = animals['weight'] > 100
    return pd.DataFrame((animals.loc[filt].sort_values(by='weight',ascending=False))['name'])